################### Hibernate Configuration ##########################
server:
  port: 9000

################### Spring Configuration ##############################
spring:
  cloud:
    gateway:
      routes:
        - id: MICROSERVICE-CLIENTUI
          uri: http://localhost:9002  
          predicates:
            - Path=/patient/list/**
        - id: MICROSERVICE-CLIENTUI-CSS
          uri: http://localhost:9002/static
          predicates:
            - Path=/css/**

  application:
    name: MICROSERVICE-GATEWAY
  

################### Log Configuration ################################
logging:
  level:
    root: WARN
    org.springframework: INFO
    org.springframework.web: INFO
    org.springframework.security: INFO
