################### Hibernate Configuration ##########################
server:
  port: 9000

################### Spring Configuration ##############################
spring:
  cloud:
    gateway:
      routes:
        - id: clientui
          uri: http://localhost:9002
          predicates:
            - Path=/patient/**
        - id: clientui-css
          uri: http://localhost:9002/static
          predicates:
            - Path=/css/**
            - Path=/patient/css/**          
  application:
    name: microservice-gateway

################### Log Configuration ################################
logging:
  level:
    org:
      springframework:
        cloud:
          gateway: TRACE

################### Ports Configuration ################################

microservice-patientmanager: microservice-patientmanager:9001
microservice-clientui: microservice-clientui:9002
microservice-notemanager: microservice-notemanager:9003
microservice-diabetesassessment: microservice-diabetesassessment:9004