<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Patient List</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<a href="/patient/list">Patient List</a>&nbsp;|&nbsp;
			</div>
			<div class="col-6 text-right">
				<form th:action="@{/app-logout}" method="POST">
					<input type="submit" value="Logout" class="mt-2"/>
				</form>
			</div>
		</div>
		<div class="row">
			<h2>Patient List</h2>
		</div>
		<div class="row">
			<a href="/patient/add" class="btn btn-primary btn-sm mb-3">Add New</a>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Gender</th>
						<th>Date of birth</th>
						<th>Address</th>
						<th>Phone</th>
						<th>Option</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="patient : ${patients}">
						<td th:text="${patient.firstname}"></td>
						<td th:text="${patient.lastname}"></td>
						<td th:text="${patient.gender}"></td>
						<td th:text="${patient.dateofbirth}"></td>
						<td th:text="${patient.address}"></td>
						<td th:text="${patient.phone}" class="phone-number"></td>
						<td style="width: 15%" class="text-center">
							<a th:href="@{/patient/{id}/note(id=${patient.id})}">Note</a>&nbsp;|&nbsp;
							<a th:href="@{/patient/{id}/update(id=${patient.id})}">Edit</a>&nbsp;|&nbsp;
							<a th:href="@{/patient/{id}/delete(id=${patient.id})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var phoneElements = document.querySelectorAll('.phone-number');
			phoneElements.forEach(function (element) {
				var phoneNumber = element.textContent.trim();
				element.textContent = formatPhoneNumber(phoneNumber);
			});
		});

		function formatPhoneNumber(phone) {
			var match = phone.match(/^(\d{3})(\d{3})(\d{4})$/);
			if (match) {
				return match[1] + '-' + match[2] + '-' + match[3];
			}
			return phone;
		}
	</script>
</body>

</html>