<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="utf-8" />
	<title>Note List</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<a href="/patient/list">Patient List</a>&nbsp;|&nbsp;
			</div>
			<div class="col-6 text-right">
				<form th:action="@{/app-logout}" method="POST">
					<input type="submit" value="Logout" class="mt-2"/>
				</form>
			</div>
		</div>
		<div class="row">
			<h2>Patient detail :</h2>
		</div>

		<div class="row">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Gender</th>
						<th>Date of birth</th>
						<th>Address</th>
						<th>Phone</th>
					</tr>
				</thead>
				<tbody>
						<td th:text="${patient.firstname}"></td>
						<td th:text="${patient.lastname}"></td>
						<td th:text="${patient.gender}"></td>
						<td th:text="${patient.dateofbirth}"></td>
						<td th:text="${patient.address}"></td>
						<td th:text="${patient.phone}" class="phone-number"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Diabetes Severity Level :</th>
					</tr>
				</thead>
				<tbody>
						<td th:text="${diabetesAssessment}"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<h2>Patient notes :</h2>
		</div>

		<div class="row">
			<a th:href="@{/patient/{patientid}/note/add(patientid=${patient.id})}" class="btn btn-primary btn-sm mb-3 text-center">Add New</a>
			</td>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th style="width: 10%; text-align: center;">Date</th>
						<th>Note</th>
						<th style="width: 20%; text-align: center;">Option</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="note : ${notes}">
						<td th:text="${note.date}" style="vertical-align: middle;"></td>
						<td th:text="${note.note}"></td>
						<td style="width: 15%; vertical-align: middle;" class="text-center">
							<a th:href="@{/patient/{patientid}/note/{noteId}/update(patientid=${patient.id}, noteId=${note.id})}">Edit</a>&nbsp;|&nbsp;
							<a th:href="@{/patient/{patientid}/note/{noteId}/delete(patientid=${patient.id}, noteId=${note.id})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var phoneElements = document.querySelectorAll('.phone-number');
			phoneElements.forEach(function (element) {
				var phoneNumber = element.textContent.trim();
				element.textContent = formatPhoneNumber(phoneNumber);
			});
		});

		function formatPhoneNumber(phone) {
			var match = phone.match(/^(\d{3})(\d{3})(\d{4})$/);
			if (match) {
				return match[1] + '-' + match[2] + '-' + match[3];
			}
			return phone;
		}
	</script>
</body>

</html>