################### Hibernate Configuration ##########################
server:
  port: 9001

################### Spring Configuration #############################
spring:
  application:
    name: mMICROSERVICE-PATIENTMANAGER
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/diabetedetect
    username: root
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: false

################### Log Configuration ################################
logging:
  level:
    org.springframework: INFO